[Desktop Entry]
Type=Application
Exec=chromium-browser --kiosk http://localhost:8080/webvisu.htm
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=chromium
Name=chromium
Comment[en_US]=Start chromium in kiosk mode
Comment=Start chromium in kiosk mode
