[Desktop Entry]
Type=Application
Exec=/home/christ/kiosk/chromium-kiosk.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Chromium Kiosk
Name=Chromium Kiosk
Comment[en_US]=Start Chromium in kiosk mode without popups
Comment=Start Chromium in kiosk mode without popups
