[Desktop Entry]
Type=Application
Exec=/home/christ/chromium-kiosk.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Chromium Kiosk
Name[en_US]=Chromium Kiosk
Comment=Start Chromium in kiosk mode without popups
Comment[en_US]=Start Chromium in kiosk mode without popups
