[Desktop Entry]
Type=Application
Exec=chromium-browser --kiosk --ignore-certificate-errors --disable-restore-session-state http://localhost:8080/webvisu.htm
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Firefox
Name=Firefox
Comment[en_US]=Start Firefox in kiosk mode
Comment=Start Firefox in kiosk mode
